@import url("./styles/base/colors.css");
@import url("./styles/base/reset.css");
@import url("./styles/base/typography.css");

@import url("./styles/components/button.css");
@import url("./styles/components/ideas.css");
@import url("./styles/components/link.css");

body {
  background: var(--bg-body);
  color: #25282b;
  font-family: var(--font-montserrat);
}

.body--hideScroll {
  overflow: hidden;
}

.container {
  display: flex;
  gap: 20px;
  margin: 40px auto;
  max-width: 980px;
  width: 80%;
}
